.list_players{
	font-family: "Muller Regular";
	width: 40vw;
	height: 70vh;
	margin: 15vh auto;
	position: relative;
	z-index: 99999;
}
.list_players .title{
	padding: 30px 3vw;
	background-color: #344491;
	color: #fff;
	line-height: 2em;
}
.list_players .players{
	float: right;
}
.list_players .players span{
	font-family: "Muller Medium";
}

.list_players h1{
	font-family: "Muller Medium";
	margin-bottom: 20px;
	float: left;
}
.list_players .input{
	color: #7189ff;
	clear: both;
	background-color: #3c50b1;
	padding: 5px 10px;
	position: relative;
}
.list_players .input input::-webkit-input-placeholder{
	color: #7189ff;

}
.list_players .input input{
	color: #fff;
  border:none;
  background:none;
  outline:none;
  padding:0;
  width: calc(100%  - 20px);
}
.list_players .list {
	background-color: rgba(0,0,0,.95);
	color: #7f7f7f;
	padding: 15px 3vw;
	font-size: 1.2em;
	max-height: 50vh;
  overflow: auto;
}
.list_players .list table{
	width: 100%;
}
.list_players .list table thead tr{
	text-align: left;
}
.list_players .list table tbody tr{
	text-align: left;
}
.list_players .list table tbody tr td{
	border-bottom: 1px solid #171717;
	padding: 12px 0;	
	text-align: left;	
}
.list_players .list table tbody{
  overflow: auto;
}
.list_players .list .active{
	color: #fff;
}
@media screen and (max-width: 1024px){
	.list_players{
		width: 60vw;
	}
}
