#table{
	font-family: "Muller Regular";
	width: 40vw;
	height: 70vh;
	margin: 15vh auto;
	z-index: 99999;
	position: absolute;
	left:50%; 
	margin-left:-20vw;
}
#table .title{
	padding: 10px 3vw;
	background-color: #344491;
	color: #fff;
	line-height: 2em;
	text-align: center;
}
#table .list {
	background-color: rgba(0,0,0,.95);
	color: #7f7f7f;
	padding: 15px 3vw;
	font-size: 1.2em;
	max-height: 50vh;
	overflow: auto;
	position: relative;
}
#table .exit{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
}
#table .list table{
	width: 100%;
}
#table .list table thead tr{
	text-align: left;
}
#table .list table tbody tr{
	text-align: left;
}
#table .list table tbody tr td{
	border-bottom: 1px solid #171717;
	padding: 12px 0;	
	text-align: left;	
}
#table .list table tbody{
  overflow: auto;
}
#table .list .active{
	color: #fff;
}