.homePage{
    margin-top: 10px;
    .appIcon{
        margin: 1% 3.6%;
        width: 26%;
        float: left;
        position: relative;
        .iconContent{
            position: relative;
            height: 0;
            padding-top: 100%;
            .icon{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 25%;
                i{
                    text-align: center;
                    width: 100%;
                    vertical-align: -webkit-baseline-middle;
                    font-size: 3vmin;
                    white-space: nowrap;
                    &:before{
                        vertical-align: -webkit-baseline-middle;
                    }
                }
            }
        }
        .name{
            font-size: 1.4vmin;
            text-align: center;
        }
    }
}
@media screen and (max-width: 1024px){
	.list_players{
		width: 60vw;
	}
}
