.phone{
    .sms{
        .title{
            .right{
                .i{
                    z-index: 5;
                    margin-top: 3px;
                }
            }
        }
        .newSms{
            .padding{
                padding: 10px;
            }
            .but{
                background-color: #65609f;
                color: #ffffff;
                border-radius: 10px;
                margin: 5px 0;
                width: 100%;
                padding: 10px;
                text-align: center;
                box-sizing: border-box;
            }
            textarea{
                background-color: #1f1f1f;
                height: 5em;
                margin: 5px 0;
                border: 0;
                border-radius: 10px;
                resize: none;
                width: 100%;
                color: #ffffff;
                padding-left: 10px;
                box-sizing: border-box;
                padding-top: 10px;
                padding-bottom: 10px;
                &:focus{
                    outline: none
                }
            }
            input{
                color: #ffffff;
                width: 100%;
                background: #1f1f1f;
                color: #ffffff;
                margin: 5px 0;
                border: 0;
                height: 3em;
                border-radius: 10px;
                box-sizing: border-box;
                padding-left: 10px;
                &:focus{
                    outline: none
                }
            }
        }
        .items{
            font-size: 0.9em;
            .padding{
                padding: 0 10px;
                position: relative;
            }
            .item{
                padding-top: 10px;
                display: flow-root;
                border-bottom: 1px solid #1a1a1a;
                .icon{
                    width: 20%;
                    float: left;
                    font-size: 1.7em;
                    color: #626262;
                    i{
                        margin-top: 5px;
                    }
                }
                .right{
                    width: 80%;
                    float: right;
                    
                    .top{
                        .name{
                            font-size: 0.7em;
                            float: left;
                        }
                        .time{
                            font-size: 0.7em;
                            float: right;
                        }
                    }
                    .bottom{
                        color: #626262;
                        position: relative;
                        .discription{
                            float: left;
                            width: 90%;
                            white-space: nowrap;
                            font-size: 0.7em;
                            margin-top: 8px;
                        }
                        .arrow{
                            text-align: right;
                            width: 10%;
                            float: right;
                            font-size: 1.7em;
                        }
                    }
                }
            }
        }
        .dialog{
            .messages{
                overflow-y: auto;
                padding: 0px 8px;
                height: calc(74% - 20px);
                position: absolute;
                width: 100%;
                box-sizing: border-box;
                .message{
                    position: relative;
                    background-color: #1f1f1f;
                    border-radius: 10px 10px 10px 0;
                    padding: 10px 8px;
                    margin: 5px 0;
                    .del{
                        position: absolute;
                        top: 5px;
                        right: 10px;
                    }
                    .text{
                        font-size: 0.8em;
                        line-height: 1.2em;
                    }
                    .time{
                        color: #8c8c8c;
                        font-size: 0.6em;
                        text-align: right;
                        .but{
                            font-size: 1.2em;
                            float: left;
                            color: #000;
                        }
                    }
                    &.my-message{
                        border-radius: 10px 10px 0 10px;
                        background-color: #dadfff;
                        color: #000000;
                        .text{
                            color: #000000;
                        }
                    }
                }
            }
            .textarea{
                position: absolute;
                bottom: 0;
                padding: 5px;
                textarea{
                    width: calc(85% - 30px);
                    resize: none;
                    border-radius: 10px;
                    float: left;
                    height: 2.5em;
                    background-color: transparent;
                    border: 1px solid #1f1f1f;
                    padding-left: 10px;
                    color: #ffffff;
                    &:focus{
                        outline: none;
                    }
                }
                .send{
                    float: right;
                    width: 15%;
                    text-align: center;
                    border-radius: 10px;
                    background-color: #65609f;
                    color: #ffffff;
                    padding: 8px 5px;
                    i{
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}