.list_players{
	font-family: "Muller Regular";
	width: 40vw;
	height: 70vh;
	margin: 15vh auto;
	position: relative;
	z-index: 99999;
}
.list_players .title{
	padding: 30px 3vw;
	background-color: #344491;
	color: #fff;
	line-height: 2em;
}
.list_players .players{
	float: right;
}
.list_players .players span{
	font-family: "Muller Medium";
}

.list_players h1{
	font-family: "Muller Medium";
	margin-bottom: 20px;
	float: left;
}
.list_players .input{
	color: #7189ff;
	clear: both;
	background-color: #3c50b1;
	padding: 5px 10px;
	position: relative;
}
.list_players .input input::-webkit-input-placeholder{
	color: #7189ff;

}
.list_players .input input{
	color: #fff;
  border:none;
  background:none;
  outline:none;
  padding:0;
  width: calc(100%  - 20px);
}
.list_players .list {
	background-color: rgba(0,0,0,.95);
	color: #7f7f7f;
	padding: 15px 3vw;
	font-size: 1.2em;
	max-height: 50vh;
  overflow: auto;
}
.list_players .list table{
	width: 100%;
}
.list_players .list table thead tr{
	text-align: left;
}
.list_players .list table tbody tr{
	text-align: left;
}
.list_players .list table tbody tr td{
	border-bottom: 1px solid #171717;
	padding: 12px 0;	
	text-align: left;	
}
.list_players .list table tbody{
  overflow: auto;
}
.list_players .list .active{
	color: #fff;
}
@media screen and (max-width: 1024px){
	.list_players{
		width: 60vw;
	}
}
.shop{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40vw;
	max-height: 100vh;
	z-index: 5;
}
.shop .title{
	position: relative;
	background-color: #344491;
	padding: 10px 0; 
}
.shop .title h1{
	font-family: "Muller Medium";
	margin: 0;
	color: #fff;
	text-align: center;
	font-size: 1.2em;
}
.shop .title .exit{
	position: absolute;
	top: 15px;
	color: #d4d7e8;
	right: 25px;
}
.shop .main{
	background-color: rgba(0,0,0,.7);
	display: flex;
}
.shop .categories{
	width: 13vw;
	float: left;
	display: inline-block;

}
.shop .categories .categorie{
	padding: 10px 0; 
	margin: 0;
	color: #fff;
	text-align: center;
	font-size: 1.2em;
}
.shop .categories .categorie.active{
	color: #26388b;
	background-color: #fff;
}
.shop .items {
	width: 27vw;
	float: right;
	display: inline-block;
	min-height: 40vh;
}
.shop .item {
	display: inline-block;
	vertical-align: bottom;
	width: 7vw;
	height: 7vw;
	margin: 0.8vw;
	position: relative;
	background-color: #fff;

}
.shop .item .price{
	position: absolute;
	font-family: "Muller Medium";
	bottom: 0px;
	background-color: #26388b;
	color: #fff;
	width: 70%;
	text-align: center;
	right: 0px;
}
.shop .items .item img{
	width: 80%;
	padding: 10%;
}
/* line 1, stdin */
.inventory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh; }
  /* line 8, stdin */
  .inventory .itemdrag {
    position: absolute;
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    z-index: 99999; }
  /* line 18, stdin */
  .inventory .out {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    top: 0;
    right: 0; }
  /* line 26, stdin */
  .inventory .modal-item {
    z-index: 50;
    left: -100%;
    top: -100%;
    position: absolute;
    background-color: rgba(18, 19, 23, 0.75);
    -webkit-transition: .3s;
    transition: .3s;
    max-width: 170px;
    width: 100%; }
    /* line 36, stdin */
    .inventory .modal-item ul {
      position: relative; }
      /* line 38, stdin */
      .inventory .modal-item ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style: none;
        border-bottom: solid 1px rgba(255, 255, 255, 0.07); }
        /* line 44, stdin */
        .inventory .modal-item ul li a {
          opacity: .35;
          display: block;
          padding: 10px 0;
          font-size: 12px;
          font-weight: 400;
          padding-left: 18px;
          -webkit-transition: .3s;
          transition: .3s;
          line-height: 20px;
          text-decoration: none;
          color: #fff;
          width: 100%; }
          /* line 57, stdin */
          .inventory .modal-item ul li a:hover {
            opacity: 1;
            font-weight: 400;
            background-color: #989898; }
        /* line 63, stdin */
        .inventory .modal-item ul li:last-child {
          border-bottom: none; }
  /* line 69, stdin */
  .inventory .modal-item.active {
    opacity: 1;
    visibility: visible; }
  /* line 73, stdin */
  .inventory .modal-item__headline {
    opacity: .35;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 18px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    background-color: #000;
    font-weight: 400;
    font-size: 12px;
    height: 38px;
    color: #fff; }
  /* line 89, stdin */
  .inventory .container {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-image: url("../img/inventory/inventorybg.png");
    background-repeat-x: no-repeat;
    background-position: top;
    background-size: 100%;
    max-width: 1000px;
    width: 100%;
    padding: 25px 0; }
  /* line 107, stdin */
  .inventory .container_middle {
    margin-top: 26px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 745px;
    width: 100%; }
  /* line 130, stdin */
  .inventory .container_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 745px;
    width: 100%; }
  /* line 143, stdin */
  .inventory .container_bottom {
    margin: 26px auto 0;
    display: -ms-grid;
    display: grid;
    max-width: 745px;
    width: 100%; }
  /* line 150, stdin */
  .inventory .container_middle__bottomclothes-item {
    max-width: 350px;
    position: relative;
    width: 100%; }
    /* line 157, stdin */
    .inventory .container_middle__bottomclothes-item table tbody tr td {
      z-index: 50; }
      /* line 159, stdin */
      .inventory .container_middle__bottomclothes-item table tbody tr td img {
        max-width: 36px !important;
        max-height: 40px; }
  /* line 168, stdin */
  .inventory .container_middle__topclothes-item {
    max-width: 350px;
    position: relative;
    width: 100%; }
    /* line 175, stdin */
    .inventory .container_middle__topclothes-item table tbody tr td {
      z-index: 50; }
      /* line 177, stdin */
      .inventory .container_middle__topclothes-item table tbody tr td img {
        max-width: 36px !important;
        max-height: 40px; }
  /* line 186, stdin */
  .inventory .container_top__backpack-item {
    position: relative;
    width: 100%;
    max-width: 231px; }
    /* line 187, stdin */
    .inventory .container_top__backpack-item table {
      margin-top: -2px; }
      /* line 190, stdin */
      .inventory .container_top__backpack-item table tbody tr {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 1px;
        grid-row-gap: 1px;
        justify-items: stretch;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch; }
        /* line 191, stdin */
        .inventory .container_top__backpack-item table tbody tr td {
          z-index: 50;
          min-height: 54px !important;
          margin-top: -1px; }
          /* line 195, stdin */
          .inventory .container_top__backpack-item table tbody tr td img {
            max-width: 40px; }
  /* line 217, stdin */
  .inventory .container_bottom__trunk-item {
    position: relative;
    width: 100%; }
    /* line 222, stdin */
    .inventory .container_bottom__trunk-item table tbody tr {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      -ms-grid-rows: 2fr;
      grid-template-rows: 2fr;
      grid-column-gap: 1px;
      grid-row-gap: 1px;
      justify-items: stretch;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch; }
      /* line 223, stdin */
      .inventory .container_bottom__trunk-item table tbody tr td {
        z-index: 50; }
        /* line 225, stdin */
        .inventory .container_bottom__trunk-item table tbody tr td img {
          max-height: 40px;
          max-width: 40px; }
      /* line 243, stdin */
      .inventory .container_bottom__trunk-item table tbody tr:nth-child(1) td {
        min-height: 52px;
        height: 100%; }
      /* line 247, stdin */
      .inventory .container_bottom__trunk-item table tbody tr:nth-child(1) td.big {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1/3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1/3; }
        /* line 254, stdin */
        .inventory .container_bottom__trunk-item table tbody tr:nth-child(1) td.big img {
          min-height: 62px; }
      /* line 258, stdin */
      .inventory .container_bottom__trunk-item table tbody tr:nth-child(1) td.big2 {
        -ms-grid-column: 5;
        -ms-grid-column-span: 3;
        grid-column: 5/8;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1/2; }
        /* line 265, stdin */
        .inventory .container_bottom__trunk-item table tbody tr:nth-child(1) td.big2 img {
          max-height: 16px; }
      /* line 269, stdin */
      .inventory .container_bottom__trunk-item table tbody tr:nth-child(1) td.big3 {
        -ms-grid-column: 10;
        -ms-grid-column-span: 3;
        grid-column: 10/13;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2/3; }
        /* line 276, stdin */
        .inventory .container_bottom__trunk-item table tbody tr:nth-child(1) td.big3 img {
          max-height: 32px; }
  /* line 285, stdin */
  .inventory .container_top__my-item {
    position: relative;
    width: 100%;
    max-width: 290px; }
    /* line 289, stdin */
    .inventory .container_top__my-item table {
      border-spacing: 0px;
      border-collapse: collapse; }
      /* line 291, stdin */
      .inventory .container_top__my-item table tbody tr {
        float: left; }
        /* line 292, stdin */
        .inventory .container_top__my-item table tbody tr td {
          z-index: 50;
          float: left; }
          /* line 295, stdin */
          .inventory .container_top__my-item table tbody tr td.active img {
            opacity: 1; }
          /* line 299, stdin */
          .inventory .container_top__my-item table tbody tr td img {
            max-height: 40px;
            opacity: .35;
            max-width: 36px !important; }
          /* line 305, stdin */
          .inventory .container_top__my-item table tbody tr td img.active {
            opacity: 1; }
        /* line 311, stdin */
        .inventory .container_top__my-item table tbody tr:last-child td {
          -webkit-transform: translateX(1px);
          transform: translateX(1px);
          margin: -58px auto 0 auto;
          width: 56px;
          max-height: 60px; }
      /* line 322, stdin */
      .inventory .container_top__my-item table tbody tr.last td {
        height: 114px;
        grid-row: 1/2; }
        /* line 325, stdin */
        .inventory .container_top__my-item table tbody tr.last td.allHand {
          width: 200%; }
        /* line 328, stdin */
        .inventory .container_top__my-item table tbody tr.last td:nth-child(3) {
          margin-top: 0px;
          max-height: 56px; }
  /* line 339, stdin */
  .inventory .container_top__weapon-item {
    position: relative;
    width: 100%;
    max-width: 168px; }
    /* line 343, stdin */
    .inventory .container_top__weapon-item table {
      margin-top: -2px; }
      /* line 346, stdin */
      .inventory .container_top__weapon-item table tbody tr td {
        z-index: 50;
        position: relative; }
        /* line 349, stdin */
        .inventory .container_top__weapon-item table tbody tr td .ammo {
          position: absolute;
          bottom: 5px;
          right: 5px;
          color: #fff;
          font-size: 10px;
          opacity: .8;
          text-transform: uppercase;
          font-weight: 400; }
        /* line 359, stdin */
        .inventory .container_top__weapon-item table tbody tr td img {
          max-height: 40px;
          max-height: 32px; }
  /* line 369, stdin */
  .inventory .container_middle__topclothes-item-headline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }
    /* line 377, stdin */
    .inventory .container_middle__topclothes-item-headline h2 {
      opacity: .8;
      padding-left: 2px;
      margin-bottom: 22px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      max-width: -webkit-fit-content;
      max-width: -moz-fit-content;
      max-width: fit-content;
      color: #fff; }
    /* line 389, stdin */
    .inventory .container_middle__topclothes-item-headline ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      /* line 393, stdin */
      .inventory .container_middle__topclothes-item-headline ul li {
        opacity: 0.80;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        font-size: 12px;
        color: #fff; }
        /* line 401, stdin */
        .inventory .container_middle__topclothes-item-headline ul li i {
          content: "";
          display: block;
          margin-right: 10px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%; }
        /* line 409, stdin */
        .inventory .container_middle__topclothes-item-headline ul li:nth-child(1) {
          margin-right: 20px; }
          /* line 410, stdin */
          .inventory .container_middle__topclothes-item-headline ul li:nth-child(1) i {
            background-image: url("../img/inventory/icons/fork-and-knife-silhouette.svg");
            width: 14px;
            height: 16px;
            -webkit-filter: drop-shadow(0px 0px 5px rgba(238, 170, 98, 0.5));
            filter: drop-shadow(0px 0px 5px rgba(238, 170, 98, 0.5)); }
        /* line 420, stdin */
        .inventory .container_middle__topclothes-item-headline ul li:nth-child(2) i {
          background-image: url("../img/inventory/icons/drop-silhouette.svg");
          width: 11px;
          height: 17px;
          -webkit-filter: drop-shadow(0px 0px 5px #5598dd);
          filter: drop-shadow(0px 0px 5px #5598dd); }
  /* line 431, stdin */
  .inventory .container_middle__bottomclothes-item-headline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }
    /* line 439, stdin */
    .inventory .container_middle__bottomclothes-item-headline h2 {
      opacity: .8;
      padding-left: 2px;
      margin-bottom: 22px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      max-width: -webkit-fit-content;
      max-width: -moz-fit-content;
      max-width: fit-content;
      color: #fff; }
    /* line 451, stdin */
    .inventory .container_middle__bottomclothes-item-headline ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      /* line 455, stdin */
      .inventory .container_middle__bottomclothes-item-headline ul li {
        opacity: 0.80;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        font-size: 12px;
        color: #fff; }
        /* line 463, stdin */
        .inventory .container_middle__bottomclothes-item-headline ul li i {
          content: "";
          display: block;
          margin-right: 10px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%; }
        /* line 471, stdin */
        .inventory .container_middle__bottomclothes-item-headline ul li:nth-child(1) {
          margin-right: 20px; }
          /* line 472, stdin */
          .inventory .container_middle__bottomclothes-item-headline ul li:nth-child(1) i {
            background-image: url("../img/inventory/icons/fork-and-knife-silhouette.svg");
            width: 14px;
            height: 16px;
            -webkit-filter: drop-shadow(0px 0px 5px rgba(238, 170, 98, 0.5));
            filter: drop-shadow(0px 0px 5px rgba(238, 170, 98, 0.5)); }
        /* line 482, stdin */
        .inventory .container_middle__bottomclothes-item-headline ul li:nth-child(2) i {
          background-image: url("../img/inventory/icons/drop-silhouette.svg");
          width: 11px;
          height: 17px;
          -webkit-filter: drop-shadow(0px 0px 5px #5598dd);
          filter: drop-shadow(0px 0px 5px #5598dd); }
  /* line 493, stdin */
  .inventory .container_bottom__trunk-item-headline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }
    /* line 501, stdin */
    .inventory .container_bottom__trunk-item-headline h2 {
      opacity: .8;
      padding-left: 2px;
      margin-bottom: 22px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      max-width: -webkit-fit-content;
      max-width: -moz-fit-content;
      max-width: fit-content;
      color: #fff; }
    /* line 513, stdin */
    .inventory .container_bottom__trunk-item-headline ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      /* line 517, stdin */
      .inventory .container_bottom__trunk-item-headline ul li {
        opacity: 0.80;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        font-size: 12px;
        color: #fff; }
        /* line 525, stdin */
        .inventory .container_bottom__trunk-item-headline ul li i {
          content: "";
          display: block;
          margin-right: 10px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%; }
        /* line 533, stdin */
        .inventory .container_bottom__trunk-item-headline ul li:nth-child(1) {
          margin-right: 20px; }
          /* line 534, stdin */
          .inventory .container_bottom__trunk-item-headline ul li:nth-child(1) i {
            background-image: url("../img/inventory/icons/fork-and-knife-silhouette.svg");
            width: 14px;
            height: 16px;
            -webkit-filter: drop-shadow(0px 0px 5px rgba(238, 170, 98, 0.5));
            filter: drop-shadow(0px 0px 5px rgba(238, 170, 98, 0.5)); }
        /* line 544, stdin */
        .inventory .container_bottom__trunk-item-headline ul li:nth-child(2) i {
          background-image: url("../img/inventory/icons/drop-silhouette.svg");
          width: 11px;
          height: 17px;
          -webkit-filter: drop-shadow(0px 0px 5px #5598dd);
          filter: drop-shadow(0px 0px 5px #5598dd); }
  /* line 555, stdin */
  .inventory .container_top__backpack-item-headline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }
    /* line 563, stdin */
    .inventory .container_top__backpack-item-headline h2 {
      opacity: .8;
      padding-left: 2px;
      margin-bottom: 22px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      max-width: -webkit-fit-content;
      max-width: -moz-fit-content;
      max-width: fit-content;
      color: #fff; }
    /* line 575, stdin */
    .inventory .container_top__backpack-item-headline ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      /* line 579, stdin */
      .inventory .container_top__backpack-item-headline ul li {
        opacity: 0.80;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        font-size: 12px;
        color: #fff; }
        /* line 587, stdin */
        .inventory .container_top__backpack-item-headline ul li i {
          content: "";
          display: block;
          margin-right: 10px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%; }
        /* line 595, stdin */
        .inventory .container_top__backpack-item-headline ul li:nth-child(1) {
          margin-right: 20px; }
          /* line 596, stdin */
          .inventory .container_top__backpack-item-headline ul li:nth-child(1) i {
            background-image: url("../img/inventory/icons/fork-and-knife-silhouette.svg");
            width: 14px;
            height: 16px;
            -webkit-filter: drop-shadow(0px 0px 5px rgba(238, 170, 98, 0.5));
            filter: drop-shadow(0px 0px 5px rgba(238, 170, 98, 0.5)); }
        /* line 606, stdin */
        .inventory .container_top__backpack-item-headline ul li:nth-child(2) i {
          background-image: url("../img/inventory/icons/drop-silhouette.svg");
          width: 11px;
          height: 17px;
          -webkit-filter: drop-shadow(0px 0px 5px #5598dd);
          filter: drop-shadow(0px 0px 5px #5598dd); }
  /* line 617, stdin */
  .inventory .container_top__my-item-headline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }
    /* line 625, stdin */
    .inventory .container_top__my-item-headline h2 {
      opacity: .8;
      padding-left: 2px;
      margin-bottom: 22px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      max-width: -webkit-fit-content;
      max-width: -moz-fit-content;
      max-width: fit-content;
      color: #fff; }
    /* line 637, stdin */
    .inventory .container_top__my-item-headline ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      /* line 641, stdin */
      .inventory .container_top__my-item-headline ul li {
        opacity: 0.80;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        font-size: 12px;
        color: #fff; }
        /* line 649, stdin */
        .inventory .container_top__my-item-headline ul li i {
          content: "";
          display: block;
          margin-right: 10px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%; }
        /* line 657, stdin */
        .inventory .container_top__my-item-headline ul li:nth-child(1) {
          margin-right: 20px; }
          /* line 658, stdin */
          .inventory .container_top__my-item-headline ul li:nth-child(1) i {
            background-image: url("../img/inventory/icons/fork-and-knife-silhouette.svg");
            width: 14px;
            height: 16px;
            -webkit-filter: drop-shadow(0px 0px 5px rgba(238, 170, 98, 0.5));
            filter: drop-shadow(0px 0px 5px rgba(238, 170, 98, 0.5)); }
        /* line 668, stdin */
        .inventory .container_top__my-item-headline ul li:nth-child(2) i {
          background-image: url("../img/inventory/icons/drop-silhouette.svg");
          width: 11px;
          height: 17px;
          -webkit-filter: drop-shadow(0px 0px 5px #5598dd);
          filter: drop-shadow(0px 0px 5px #5598dd); }
  /* line 679, stdin */
  .inventory .container_top__weapon-item-headline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }
    /* line 687, stdin */
    .inventory .container_top__weapon-item-headline h2 {
      opacity: .8;
      padding-left: 2px;
      margin-bottom: 22px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      max-width: -webkit-fit-content;
      max-width: -moz-fit-content;
      max-width: fit-content;
      color: #fff; }
    /* line 699, stdin */
    .inventory .container_top__weapon-item-headline ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      /* line 703, stdin */
      .inventory .container_top__weapon-item-headline ul li {
        opacity: 0.80;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        font-size: 12px;
        color: #fff; }
        /* line 711, stdin */
        .inventory .container_top__weapon-item-headline ul li i {
          content: "";
          display: block;
          margin-right: 10px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%; }
        /* line 719, stdin */
        .inventory .container_top__weapon-item-headline ul li:nth-child(1) {
          margin-right: 20px; }
          /* line 720, stdin */
          .inventory .container_top__weapon-item-headline ul li:nth-child(1) i {
            background-image: url("../img/inventory/icons/fork-and-knife-silhouette.svg");
            width: 14px;
            height: 16px;
            -webkit-filter: drop-shadow(0px 0px 5px rgba(238, 170, 98, 0.5));
            filter: drop-shadow(0px 0px 5px rgba(238, 170, 98, 0.5)); }
        /* line 730, stdin */
        .inventory .container_top__weapon-item-headline ul li:nth-child(2) i {
          background-image: url("../img/inventory/icons/drop-silhouette.svg");
          width: 11px;
          height: 17px;
          -webkit-filter: drop-shadow(0px 0px 5px #5598dd);
          filter: drop-shadow(0px 0px 5px #5598dd); }
  /* line 741, stdin */
  .inventory table {
    width: 100%; }
    /* line 743, stdin */
    .inventory table tbody {
      width: 100%; }
      /* line 745, stdin */
      .inventory table tbody tr {
        margin-top: -2px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%; }
        /* line 751, stdin */
        .inventory table tbody tr td {
          margin: auto;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          overflow: hidden;
          margin-right: -2px;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          background-color: transparent;
          border: solid 2px rgba(255, 255, 255, 0.15);
          -webkit-box-shadow: inset 0px 0px 32px 0px rgba(53, 53, 53, 0.68);
          box-shadow: inset 0px 0px 32px 0px rgba(53, 53, 53, 0.68);
          -webkit-transition: .3s;
          transition: .3s;
          width: 100%;
          min-height: 56px;
          height: 100%;
          z-index: 50; }
          /* line 774, stdin */
          .inventory table tbody tr td:hover {
            background-color: rgba(255, 255, 255, 0.3); }
        /* line 778, stdin */
        .inventory table tbody tr td.disabled {
          border: solid 2px rgba(255, 255, 255, 0.15);
          background-image: url("../img/inventory/trdisabled.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 110%; }
          /* line 784, stdin */
          .inventory table tbody tr td.disabled:hover {
            background-color: rgba(53, 53, 53, 0.68); }
  @media (min-height: 671px) and (max-height: 800px) {
    /* line 793, stdin */
    .inventory .container_middle__topclothes-item-headline h2 {
      margin-bottom: 12px; }
    /* line 798, stdin */
    .inventory .container_middle__bottomclothes-item-headline h2 {
      margin-bottom: 12px; }
    /* line 803, stdin */
    .inventory .container_bottom__trunk-item-headline h2 {
      margin-bottom: 12px; }
    /* line 808, stdin */
    .inventory .container_top__backpack-item-headline h2 {
      margin-bottom: 12px; }
    /* line 813, stdin */
    .inventory .container_top__my-item-headline h2 {
      margin-bottom: 12px; }
    /* line 818, stdin */
    .inventory .container_top__weapon-item-headline h2 {
      margin-bottom: 12px; } }
  @media (min-height: 0px) and (max-height: 670px) {
    /* line 825, stdin */
    .inventory .container_middle__topclothes-item-headline h2 {
      margin-bottom: 5px; }
    /* line 830, stdin */
    .inventory .container_middle__bottomclothes-item-headline h2 {
      margin-bottom: 5px; }
    /* line 835, stdin */
    .inventory .container_bottom__trunk-item-headline h2 {
      margin-bottom: 5px; }
    /* line 840, stdin */
    .inventory .container_top__backpack-item-headline h2 {
      margin-bottom: 5px; }
    /* line 845, stdin */
    .inventory .container_top__my-item-headline h2 {
      margin-bottom: 5px; }
    /* line 850, stdin */
    .inventory .container_top__weapon-item-headline h2 {
      margin-bottom: 5px; } }