* {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
}
.circle{
  z-index: -1;
}
.radia_center{
  position: absolute;
  top: 49%;
  display: table;
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
  z-index: 100;
}
.hide {
  display: none;
}

.radial{
  fill: rgba(0, 0, 0, 0.5);
}
.radialnav {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.hint_radial{
  color: #fff;
  text-align: center;
  position: absolute;
  top: 49%;
  width: 11%;
  left: 44.5%;
  font-family: "Roboto";
  font-size: 12px;
  display: none;
}
.hint_radial.active{
  display: block;
}
.radialnav-sector {
  fill: rgba(0,0,0,.5);
  /* stroke:rgba(0, 0, 0, 0.75); */
  /* stroke-width: 2; */
  transition: all .4s;
}

.radialnav-icon {
  pointer-events: none;
  fill: rgba(255,255,255,.25);
  transition: all .4s;
}

.radialnav-icon.active {
  fill: #fff;
}

.radialnav-hint {
  fill: #eee;
  font: .6em 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  text-anchor: middle;
  text-transform: uppercase;
  opacity: 0;
  transition: all .4s;
  z-index: 9999;
}

.radialnav-hint.active {
  opacity: 1;
}