.coins{
    &-services{
        border-top: 1px solid #fff;
        color: #fff;
    }
    &-items{
        margin-bottom: 5vh;
    }
    .button{
        margin: 2vh auto 4vh;
        width: 12vw;
    }
    &-block{ 
        .button{
            display: inline-block;
            width: auto;
        }
        width: 100%;
        p{
            margin: 2vh 0 -1vh;
        }
    }
    input{
        padding: 1vh;
        max-width: 12vh;
        background-color: grey;
        outline: none;
        border: none;
        color: #fff;
        font-weight: bold;
    }
}